
<!-- Toolbar -->
<div class="row" >
 <div class="col-md-4">col1</div>
 <div class="col-md-4">col2</div>
 <div class="col-md-4">col3</div>
 <ngx-spinner
 bdColor="rgba(51,51,51,0.8)"
 size="medium"
 color="#fff"
 type="ball-scale-multiple"
 [fullScreen]="false"
>
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<button igxButton="flat">Kaydet </button>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>