@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */
$custom_palette:igx-palette(
    $primary:green ,
    $secondary: rgb(84, 184, 84)  
);

@include igx-core();
@include igx-theme($default-palette);